<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-default" th:fragment="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">LaunchCart</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/viewItems">Items</a></li>
            <li><a href="/viewCart">Cart</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
</nav>

</body>
</html>